---
import { ReactPortabletext } from "@/components/react/sanity/ReactPortabletext";
import Layout from "@/layouts/Layout.astro";
import Typography from "@/layouts/Typography.astro";
import { getPosts, getTags } from "@/lib/sanity";
import { SEO } from "astro-seo";
import dayjs from "dayjs";

export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map((post) => ({ params: { slug: post.slug } }));
}

const { slug } = Astro.params;
const posts = await getPosts();
const tags = await getTags();

const post = posts.find((post) => post.slug === slug)!;
const published = dayjs(post._createdAt).format("DD-MM-YYYY");
const updated = dayjs(post._updatedAt).format("DD-MM-YYYY");
---

<Layout>
  <SEO
    slot="head"
    title={post.name}
    description={post.description}
    openGraph={{
      basic: {
        title: post.name,
        type: "blog",
        image: post.thumbnail.asset.url,
      },
      optional: {
        locale: "en_US",
        siteName: "partialty",
        description: post.description,
      },
      article: {
        publishedTime: published,
        modifiedTime: updated,
        authors: ["Yung Chin Pang, Sam"],
        tags: post.tags.map((tag) => tags.find((t) => t._id === tag)?.slug ?? ""),
      },
    }}
  />
  <div class="min-h-screen relative">
    <article class="pt-20 pb-24 px-4">
      <Typography>
        <!-- nav section with theme toggle -->
        <nav class="pb-12 not-prose flex items justify-between">
          <a href="/blog" class="flex gap-1 items-center">
            <span class="opacity-65 transition-all duration-300 ease-in-out hover:opacity-100">
              <svg
                class="size-3 stroke-secondary-foreground"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l14 0"
                ></path><path d="M5 12l6 6"></path><path d="M5 12l6 -6"></path></svg
              >
            </span>
            <span class="text-sm text-primary"> return to all posts </span>
          </a>
          <button class="themeToggle flex items-center">
            <span class="sr-only">Toggle Theme</span>
            <span class="themeToggleSun opacity-70 transition-all duration-300 hover:opacity-100">
              <svg
                class="stroke-secondary-foregrouund size-5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path><path
                  d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"
                ></path></svg
              >
            </span>
            <span
              style="display:none;"
              class="themeToggleMoon opacity-70 transition-all duration-300 hover:opacity-100"
            >
              <svg
                class="stroke-secondary-foreground size-5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"
                ></path></svg
              >
            </span>
          </button>
        </nav>

        <header>
          <h1>{post.name}</h1>
        </header>

        <ReactPortabletext post={post} client:idle />

        <!-- date -->
        <section class="not-prose float-right flex flex-col gap-1">
          <small class="text-xs">Published: <time>{published}</time></small>
          <small class="text-xs">Last Updated: <time>{updated}</time></small>
        </section>
      </Typography>
    </article>
  </div>
</Layout>
